# Datasets class testing

In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
import sys
sys.path.append('../')
from src.datapipeline import MLDataset
from pathlib import Path

In [9]:
data_path = Path('../data/raw/pen-based.arff')

In [10]:
ds = MLDataset(data_path)

---Preprocessing pen-based.arff dataset---
Nan values: 0

In [11]:
df, meta =  ds.import_raw_dataset()

In [12]:
meta

Dataset: Pen-Based
	a1's type is numeric
	a2's type is numeric
	a3's type is numeric
	a4's type is numeric
	a5's type is numeric
	a6's type is numeric
	a7's type is numeric
	a8's type is numeric
	a9's type is numeric
	a10's type is numeric
	a11's type is numeric
	a12's type is numeric
	a13's type is numeric
	a14's type is numeric
	a15's type is numeric
	a16's type is numeric
	a17's type is nominal, range is ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [13]:
ds.preprocessing()

---Preprocessing pen-based.arff dataset---
Nan values: 0

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,y_true
0,-1.133059,-2.967121,-0.896128,-4.371716,0.475956,-2.392000,1.595387,-0.451400,1.146408,1.368940,-0.040668,2.403263,-1.926269,1.902125,-0.916879,0.842863,9
1,-1.133059,-1.795571,-1.351678,-3.641132,-0.081245,-2.429043,1.137504,-0.652037,1.263593,1.185456,0.415262,2.403263,-0.941246,1.359203,-0.988720,0.451544,9
2,-1.133059,-0.932324,-1.503528,-2.858365,-0.374509,-2.429043,1.202916,-1.320827,1.263593,0.341429,0.468901,1.628891,-0.941246,1.962449,-1.012668,1.150328,9
3,-1.133059,0.732510,-1.465566,-1.345014,-0.902385,-1.651135,0.450680,-1.488025,1.263593,-0.172327,1.005290,1.186393,0.491513,1.962449,-0.749248,1.793208,9
4,1.786119,-1.178966,0.774222,0.846735,-1.459586,-0.539837,-1.413559,-1.488025,0.736259,-0.062236,0.844373,1.997640,0.401966,0.786119,-0.940826,-0.582655,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10987,1.669352,-0.685682,0.242747,-1.553752,-1.459586,0.238072,-0.857558,1.855926,0.736259,2.029483,1.058929,0.817644,1.297440,-0.299724,-0.150568,-0.806266,1
10988,1.698543,-1.363947,1.381622,0.846735,-0.521141,0.497375,0.679621,0.618664,1.146408,1.222153,1.058929,-0.436101,0.043776,-1.053782,-1.132404,-0.694460,1
10989,1.698543,0.115905,0.584409,-0.510062,-0.462489,1.090067,1.039386,1.855926,1.263593,1.258850,0.737095,0.043272,-0.090545,-0.812484,-1.132404,-0.806266,1
10990,1.727735,-0.439040,0.128859,-0.405693,-0.286530,1.275283,1.301034,1.789047,1.263593,1.295546,0.495720,0.264521,-0.493509,-0.510860,-1.132404,-0.806266,1
10991,1.756927,-0.192397,0.964034,0.846735,-1.459586,0.719634,-1.250029,0.384588,0.794852,1.222153,1.058929,1.223268,1.342214,-0.058426,0.543902,-0.806266,1

In [14]:
ds.raw_data

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17
0,0.00,0.37,0.17,0.00,0.66,0.01,1.00,0.31,0.96,0.71,0.59,1.00,0.12,0.98,0.09,0.59,0
1,0.00,0.56,0.05,0.14,0.47,0.00,0.86,0.25,1.00,0.66,0.76,1.00,0.34,0.80,0.06,0.45,0
2,0.00,0.70,0.01,0.29,0.37,0.00,0.88,0.05,1.00,0.43,0.78,0.79,0.34,1.00,0.05,0.70,0
3,0.00,0.97,0.02,0.58,0.19,0.21,0.65,0.00,1.00,0.29,0.98,0.67,0.66,1.00,0.16,0.93,0
4,1.00,0.66,0.61,1.00,0.00,0.51,0.08,0.00,0.82,0.32,0.92,0.89,0.64,0.61,0.08,0.08,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10987,0.96,0.74,0.47,0.54,0.00,0.72,0.25,1.00,0.82,0.89,1.00,0.57,0.84,0.25,0.41,0.00,9
10988,0.97,0.63,0.77,1.00,0.32,0.79,0.72,0.63,0.96,0.67,1.00,0.23,0.56,0.00,0.00,0.04,9
10989,0.97,0.87,0.56,0.74,0.34,0.95,0.83,1.00,1.00,0.68,0.88,0.36,0.53,0.08,0.00,0.00,9
10990,0.98,0.78,0.44,0.76,0.40,1.00,0.91,0.98,1.00,0.69,0.79,0.42,0.44,0.18,0.00,0.00,9
10991,0.99,0.82,0.66,1.00,0.00,0.85,0.13,0.56,0.84,0.67,1.00,0.68,0.85,0.33,0.70,0.00,9

In [15]:
ds.processed_data

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,y_true
0,-1.133059,-2.967121,-0.896128,-4.371716,0.475956,-2.392000,1.595387,-0.451400,1.146408,1.368940,-0.040668,2.403263,-1.926269,1.902125,-0.916879,0.842863,9
1,-1.133059,-1.795571,-1.351678,-3.641132,-0.081245,-2.429043,1.137504,-0.652037,1.263593,1.185456,0.415262,2.403263,-0.941246,1.359203,-0.988720,0.451544,9
2,-1.133059,-0.932324,-1.503528,-2.858365,-0.374509,-2.429043,1.202916,-1.320827,1.263593,0.341429,0.468901,1.628891,-0.941246,1.962449,-1.012668,1.150328,9
3,-1.133059,0.732510,-1.465566,-1.345014,-0.902385,-1.651135,0.450680,-1.488025,1.263593,-0.172327,1.005290,1.186393,0.491513,1.962449,-0.749248,1.793208,9
4,1.786119,-1.178966,0.774222,0.846735,-1.459586,-0.539837,-1.413559,-1.488025,0.736259,-0.062236,0.844373,1.997640,0.401966,0.786119,-0.940826,-0.582655,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10987,1.669352,-0.685682,0.242747,-1.553752,-1.459586,0.238072,-0.857558,1.855926,0.736259,2.029483,1.058929,0.817644,1.297440,-0.299724,-0.150568,-0.806266,1
10988,1.698543,-1.363947,1.381622,0.846735,-0.521141,0.497375,0.679621,0.618664,1.146408,1.222153,1.058929,-0.436101,0.043776,-1.053782,-1.132404,-0.694460,1
10989,1.698543,0.115905,0.584409,-0.510062,-0.462489,1.090067,1.039386,1.855926,1.263593,1.258850,0.737095,0.043272,-0.090545,-0.812484,-1.132404,-0.806266,1
10990,1.727735,-0.439040,0.128859,-0.405693,-0.286530,1.275283,1.301034,1.789047,1.263593,1.295546,0.495720,0.264521,-0.493509,-0.510860,-1.132404,-0.806266,1
10991,1.756927,-0.192397,0.964034,0.846735,-1.459586,0.719634,-1.250029,0.384588,0.794852,1.222153,1.058929,1.223268,1.342214,-0.058426,0.543902,-0.806266,1

In [16]:
ds.classes_relation

{'5': 0,
 '9': 1,
 '8': 2,
 '1': 3,
 '6': 4,
 '2': 5,
 '4': 6,
 '7': 7,
 '3': 8,
 '0': 9}

In [17]:
ds.save('iris_MLDataset_class','../data/processed/')

In [18]:
r,g = ds.statistics('raw')
r, g

({'n_classes': 10, 'n_features': 16, 'n_instances': 10992},
                 a1        a2        a3        a4        a5        a6  \
 Nulls     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
 Mins      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
 Max       1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
 Means     0.388143  0.851203  0.406056  0.837742  0.497704  0.655731
 StD       0.342578  0.162186  0.263430  0.191636  0.341005  0.269967
 Variance  0.117360  0.026304  0.069395  0.036725  0.116285  0.072882

                 a7        a8        a9       a10       a11       a12  \
 Nulls     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
 Mins      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
 Max       1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
 Means     0.512203  0.444990  0.568685  0.336960  0.605164  0.348265
 StD       0.305769  0.299061  0.341355  0.272515  0.372881  0.271200
 Variance  0.093495  0.089438  0.116523  0.074265  0.139040  0.073549

                a13       a14       a15       a16
 Nulls     0.000000  0.000000  0.000000  0.000000
 Mins      0.000000  0.000000  0.000000  0.000000
 Max       1.000000  1.000000  1.000000  1.000000
 Means     0.550223  0.349370  0.472875  0.288453
 StD       0.223355  0.331555  0.417604  0.357781
 Variance  0.049888  0.109928  0.174393  0.128007  )

In [19]:
r,g = ds.statistics('processed')
r, g

({'n_classes': 10, 'n_features': 16, 'n_instances': 10992},
                     a1            a2            a3            a4  \
 Nulls     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
 Mins     -1.133059e+00 -5.248560e+00 -1.541491e+00 -4.371716e+00
 Max       1.786119e+00  9.174919e-01  2.254759e+00  8.467354e-01
 Means    -1.292836e-16  3.102807e-17 -2.068538e-17 -3.807402e-16
 StD       1.000045e+00  1.000045e+00  1.000045e+00  1.000045e+00
 Variance  1.000091e+00  1.000091e+00  1.000091e+00  1.000091e+00

                     a5            a6            a7            a8  \
 Nulls     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
 Mins     -1.459586e+00 -2.429043e+00 -1.675206e+00 -1.488025e+00
 Max       1.473054e+00  1.275283e+00  1.595387e+00  1.855926e+00
 Means    -7.627733e-17  3.897901e-16 -1.525547e-16  1.473833e-16
 StD       1.000045e+00  1.000045e+00  1.000045e+00  1.000045e+00
 Variance  1.000091e+00  1.000091e+00  1.000091e+00  1.000091e+00

                     a9           a10           a11           a12  \
 Nulls     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
 Mins     -1.666039e+00 -1.236535e+00 -1.623015e+00 -1.284223e+00
 Max       1.263593e+00  2.433148e+00  1.058929e+00  2.403263e+00
 Means    -5.042061e-17  1.809971e-16 -3.135128e-16 -7.886300e-17
 StD       1.000045e+00  1.000045e+00  1.000045e+00  1.000045e+00
 Variance  1.000091e+00  1.000091e+00  1.000091e+00  1.000091e+00

                    a13           a14           a15           a16
 Nulls     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
 Mins     -2.463553e+00 -1.053782e+00 -1.132404e+00 -8.062658e-01
 Max       2.013820e+00  1.962449e+00  1.262318e+00  1.988868e+00
 Means    -4.912777e-16  4.524926e-17 -5.688479e-17  3.490658e-17
 StD       1.000045e+00  1.000045e+00  1.000045e+00  1.000045e+00
 Variance  1.000091e+00  1.000091e+00  1.000091e+00  1.000091e+00  )